<a href="https://colab.research.google.com/github/mateuszrajca69/r/blob/main/ryan_13_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from io import StringIO

In [9]:
dane = \
''',A,B,C,D,E,F,G,H,I,J
0,1.0,2.0,3.0,4.0,5.0,,7.0,,9.0,10.0
1,11.0,12.0,,,15.0,16.0,,18.0,19.0,
2,,22.0,23.0,24.0,25.0,,,,29.0,30.0'''
df = pd.read_csv(StringIO(dane))
df

   Unnamed: 0     A     B     C     D     E     F    G     H     I     J
0           0   1.0   2.0   3.0   4.0   5.0   NaN  7.0   NaN   9.0  10.0
1           1  11.0  12.0   NaN   NaN  15.0  16.0  NaN  18.0  19.0   NaN
2           2   NaN  22.0  23.0  24.0  25.0   NaN  NaN   NaN  29.0  30.0

In [10]:
df.isnull().sum()

Unnamed: 0    0
A             1
B             0
C             1
D             1
E             0
F             2
G             2
H             2
I             0
J             1
dtype: int64

In [11]:
from sklearn.impute import SimpleImputer  
import numpy as np
imp = SimpleImputer(missing_values=np.nan, strategy='mean') 
imp = imp.fit(df.values)
imputed_data = imp.transform(df.values)
imputed_data

array([[ 0.,  1.,  2.,  3.,  4.,  5., 16.,  7., 18.,  9., 10.],
       [ 1., 11., 12., 13., 14., 15., 16.,  7., 18., 19., 20.],
       [ 2.,  6., 22., 23., 24., 25., 16.,  7., 18., 29., 30.]])